{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

<body>
    <div class="header">
        <p>WordCounter</p>
    </div>
    
    <div class="textarea-box">
        <form action="{% url 'result' %}">
            <input type="text" name="text" placeholder="문장을 입력해주세요"/>
            <br>
            <input type="submit" value="전송" />
        </form>
    </div>
</body>
</html>